{% extends "common/layout.html" %}
{% block content %}
        <div class="row">
        <!-- LEFT-CONTAINER -->
        <div class="col">
        <div class="left-container container">

          <!-- MENU BOX (LEFT-CONTAINER) -->
          {% include 'common/leftmenu.html' %}


         <div class="account block">
             <h2 class="titular">SPECTRUM</h2>

             <form method="POST" action="" enctype="multipart/form-data">
               {{ form.hidden_tag() }}
               <div class="input-container">
                 <div class="form-group">
                   {% if form.picname.errors %}
                     {{ form.picname.label(class="is-invalid") }}
                     {{ form.picname(class="is-invalid")}}
                     <div class="invalid-feedback">
                       {% for error in form.picname.errors %}
                          <div class="invalid">
                            <i class="fa fa-info-circle"></i> {{ error }}
                          </div>
                       {% endfor%}
                     </div>
                   {% else %}
                     {{ form.picname.label(class="text-label")  }}
                     {{ form.picname(class="select-label")  }}
                   {% endif%}
                 </div>
               </div>
               {{ form.submit(class="sign-in button") }}
             </form>


         </div>

        </div>
        </div>

        <!-- MIDDLE-CONTAINER -->
        <div class="col-6">
        <div class="rescontainer">
          <img loading="lazy" src="{{ url_for('static', filename='plot_results/'+resname) }}" alt="mon results">

        </div>
        </div>

        <div class="col">
          <div class="menu-box block">
              <h2 class="titular">RESULTS</h2>
              <ul class="menu-box-menu">
                  <li>
                      <a class="menu-box-tab" style='color: #FFFFFF;text-decoration: none;' href="#6"><span  class="icon  scnd-font-color"></span> MAP <div class="menu-box-number"></div></a>
                  </li>
                  <li>
                      <a class="menu-box-tab" style='color: #FFFFFF;text-decoration: none;' href="#8"><span class="icon  scnd-font-color"></span>Spectrum <div class="menu-box-number"></div></a>
                  </li>

              </ul>
          </div>
        </div>

        </div>

{% endblock content %}
