<div class="menu-box block">
    <h2 class="titular">RESULTS</h2>
    <ul class="menu-box-menu">
        <li>
            <a class="menu-box-tab" style='color: #FFFFFF;text-decoration: none;' href="{{url_for('main.results')}}"><span  class="icon  scnd-font-color"></span> All my results <div class="menu-box-number"></div></a>
        </li>
        <li>
            <a class="menu-box-tab" style='color: #FFFFFF;text-decoration: none;' href="#8"><span class="icon  scnd-font-color"></span>*** <div class="menu-box-number"></div></a>
        </li>

    </ul>
</div>
