<div class="menu-box block">
    <h2 class="titular">LINKS</h2>
    <ul class="menu-box-menu">
        <li>
            <a class="menu-box-tab" style='color: #FFFFFF;text-decoration: none;' href="https://github.com/LeCastorFou/GammaPyGui" target="_blank"><span  class="icon  scnd-font-color"></span> Project GitHub <div class="menu-box-number"></div></a>
        </li>
        <li>
            <a class="menu-box-tab" style='color: #FFFFFF;text-decoration: none;' href="https://docs.gammapy.org/0.19/tutorials/index.html" target="_blank"><span class="icon  scnd-font-color"></span> Gamma Py tutorial <div class="menu-box-number"></div></a>
        </li>

    </ul>
</div>
