{% extends "common/layout.html" %}
{% block content %}

        <div class="row">
        <!-- LEFT-CONTAINER -->
        <div class="col">
        <div class="left-container container">

          <!-- MENU BOX (LEFT-CONTAINER) -->
         {% include 'common/leftmenu.html' %}

         <div class="account block">
             <h2 class="titular"></h2>

             <

         </div>

        </div>
        </div>

        <!-- MIDDLE-CONTAINER -->
        <div class="col-6">
        <div class="rescontainer">
          <h2 class="titular"><span style="color:red;">ERROR</span> : {{inst}}</h2>


        </div>
        </div>

        <div class="col">
        </div>

        </div>


{% endblock content %}
