{% extends "common/layout.html" %}
{% block content %}

        <div class="row">
        <!-- LEFT-CONTAINER -->
        <div class="col">
        <div class="left-container container">

          <!-- MENU BOX (LEFT-CONTAINER) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
         {% include 'common/leftmenu.html' %}

         <script type="text/javascript">
            $(document).ready(function() {
              $('#source').change(function(e){

                var source = $(this).val();
                console.log(source);
                var fct = '/getCoordFromSource/'+source;
                console.log(fct)

                $.ajax({
                  data : {
                    source : $('#source').val(),
                  },
                  type : 'GET',
                  url : fct,
                  success: function(data) {
                    console.log(data.matching_results);
                    document.getElementById("ra_src").value = data.matching_results[0];
                    document.getElementById("dec_src").value = data.matching_results[1];
                  },
                })
                e.preventDefault();
              });
            });
        </script>


        </div>
        </div>

        <!-- MIDDLE-CONTAINER -->
        <div class="col-6">
        <div class="rescontainer">
          <div class="account block">
              <h2 class="titular">Target selection</h2>

              <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="input-container">
                  <div class="form-group">
                    {% if form.analysisName.errors %}
                      {{ form.analysisName.label(class="is-invalid") }}
                      {{ form.analysisName(class="is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.analysisName.errors %}
                           <div class="invalid">
                             <i class="fa fa-info-circle"></i> {{ error }}
                           </div>
                        {% endfor%}
                      </div>
                    {% else %}
                      {{ form.analysisName.label(class="text-label")  }}
                      {{ form.analysisName(class="select-label")  }}
                    {% endif%}
                  </div>
                </div>

                <div class="input-container">
                  <div class="form-group">
                    {% if form.source.errors %}
                      {{ form.source.label(class="is-invalid") }}
                      {{ form.source(class="is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.source.errors %}
                           <div class="invalid">
                             <i class="fa fa-info-circle"></i> {{ error }}
                           </div>
                        {% endfor%}
                      </div>
                    {% else %}
                      {{ form.source.label(class="text-label")  }}
                      {{ form.source(class="select-label")  }}
                    {% endif%}
                  </div>
                </div>




                <div>
                <p class="text-label"> Or select coordinates :</p>
                <div class="input-container">
                  <div class="form-group">
                    {% if form.ra_src.errors %}
                      {{ form.ra_src.label(class="is-invalid") }}
                      {{ form.ra_src(class="is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.ra_src.errors %}
                           <div class="invalid">
                             <i class="fa fa-info-circle"></i> {{ error }}
                           </div>
                        {% endfor%}
                      </div>
                    {% else %}
                      {{ form.ra_src.label(class="text-label")  }}
                      {{ form.ra_src(class="select-label")  }}
                    {% endif%}
                  </div>
                </div>

                <div class="input-container">
                  <div class="form-group">
                    {% if form.dec_src.errors %}
                      {{ form.dec_src.label(class="is-invalid") }}
                      {{ form.dec_src(class="is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.dec_src.errors %}
                           <div class="invalid">
                             <i class="fa fa-info-circle"></i> {{ error }}
                           </div>
                        {% endfor%}
                      </div>
                    {% else %}
                      {{ form.dec_src.label(class="text-label")  }}
                      {{ form.dec_src(class="select-label")  }}
                    {% endif%}
                  </div>
                </div>

                <hr>
                <h2 class="titular">Run selection</h2>

                <div class="input-container">
                  <div class="form-group">
                    {% if form.distance.errors %}
                      {{ form.distance.label(class="is-invalid") }}
                      {{ form.distance(class="is-invalid")}}
                      <div class="invalid-feedback">
                        {% for error in form.distance.errors %}
                           <div class="invalid">
                             <i class="fa fa-info-circle"></i> {{ error }}
                           </div>
                        {% endfor%}
                      </div>
                    {% else %}
                      {{ form.distance.label(class="text-label")  }}
                      {{ form.distance(class="select-label")  }}
                    {% endif%}
                  </div>
                </div>

                </div>

                <div class="form-group">
                  {% if form.rmin.errors %}
                    {{ form.rmin.label(class="is-invalid") }}
                    {{ form.rmin(class="is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.rmin.errors %}
                         <div class="invalid">
                           <i class="fa fa-info-circle"></i> {{ error }}
                         </div>
                      {% endfor%}
                    </div>
                  {% else %}
                    {{ form.rmin.label(class="text-label")  }}
                    {{ form.rmin }}
                  {% endif%}
                </div>

                <div class="form-group">
                  {% if form.rmax.errors %}
                    {{ form.rmax.label(class="is-invalid") }}
                    {{ form.rmax(class="is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.rmax.errors %}
                         <div class="invalid">
                           <i class="fa fa-info-circle"></i> {{ error }}
                         </div>
                      {% endfor%}
                    </div>
                  {% else %}
                    {{ form.rmax.label(class="text-label") }}
                    {{ form.rmax }}
                  {% endif%}
                </div>
                <br>
                <p class="text-label"> Or choose a run list (.txt or .dat file containing a list of run)</p>
                <input class="text-label" type=file name=file>
                <br>

                <hr>
                <h2 class="titular">Analysis parameters</h2>

                <div class="form-group">
                  {% if form.max_evt_offset.errors %}
                    {{ form.max_evt_offset.label(class="is-invalid") }}
                    {{ form.max_evt_offset(class="is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.max_evt_offset.errors %}
                         <div class="invalid">
                           <i class="fa fa-info-circle"></i> {{ error }}
                         </div>
                      {% endfor%}
                    </div>
                  {% else %}
                    {{ form.max_evt_offset.label(class="text-label") }}
                    {{ form.max_evt_offset }}
                  {% endif%}
                </div>

                <div class="form-group">
                  {% if form.map_size_X.errors %}
                    {{ form.map_size_X.label(class="is-invalid") }}
                    {{ form.map_size_X(class="is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.map_size_X.errors %}
                         <div class="invalid">
                           <i class="fa fa-info-circle"></i> {{ error }}
                         </div>
                      {% endfor%}
                    </div>
                  {% else %}
                    {{ form.map_size_X.label(class="text-label") }}
                    {{ form.map_size_X }}
                  {% endif%}
                </div>

                <div class="form-group">
                  {% if form.map_size_Y.errors %}
                    {{ form.map_size_Y.label(class="is-invalid") }}
                    {{ form.map_size_Y(class="is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.map_size_Y.errors %}
                         <div class="invalid">
                           <i class="fa fa-info-circle"></i> {{ error }}
                         </div>
                      {% endfor%}
                    </div>
                  {% else %}
                    {{ form.map_size_Y.label(class="text-label") }}
                    {{ form.map_size_Y }}
                  {% endif%}
                </div>

                <div class="form-group">
                  {% if form.ana_emin.errors %}
                    {{ form.ana_emin.label(class="is-invalid") }}
                    {{ form.ana_emin(class="is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.ana_emin.errors %}
                         <div class="invalid">
                           <i class="fa fa-info-circle"></i> {{ error }}
                         </div>
                      {% endfor%}
                    </div>
                  {% else %}
                    {{ form.ana_emin.label(class="text-label") }}
                    {{ form.ana_emin }}
                  {% endif%}
                </div>

                <div class="form-group">
                  {% if form.ana_emax.errors %}
                    {{ form.ana_emax.label(class="is-invalid") }}
                    {{ form.ana_emax(class="is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.ana_emax.errors %}
                         <div class="invalid">
                           <i class="fa fa-info-circle"></i> {{ error }}
                         </div>
                      {% endfor%}
                    </div>
                  {% else %}
                    {{ form.ana_emax.label(class="text-label") }}
                    {{ form.ana_emax }}
                  {% endif%}
                </div>

                <br>
                <hr>
                  {{ form.submit(class="sign-in button") }}
                <br>
              </form>


          </div>

        </div>
        </div>

        <div class="col">
          {% include 'common/rightmenu.html' %}
        </div>

        </div>


{% endblock content %}
